{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}

    <h1>Prove that you are the god of the underworld</h1>

    <div class="login-form">
        <form method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
            <div class="checkbox mb-3">You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                {% endif %}
                <div class="field">
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>
                </div>

                <div class="field with-btn">
                    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
                </div>
                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}">

                <button class="btn btn-lg btn-primary" type="submit">
                    Sign in
                </button>
        </form>
    </div>

{% endblock %}
