{{ form_start(form) }}
{{ form_row(form.adress, { 'attr': {'class': 'form-control'} }) }}
{{ form_row(form.city, { 'attr': {'class': 'form-control'} }) }}
{{ form_row(form.date)}}

<button class="btn btn-dark m-4" type="submit">Save</button>
{{ form_end(form) }}
