{% extends 'base.html.twig' %}

{% block title %}Tour index{% endblock %}

{% block body %}
    <h1>Be careful, we may be right next to you</h1>
    {% if is_granted('ROLE_ADMIN') %}
        <a class="btn btn-dark" href="{{ path('tour_new') }}">Create new</a>
    {% endif %}

    <table class="table table-bordered">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Date</th>
            <th scope="col">City</th>
            <th scope="col">Adress</th>
            {% if is_granted('ROLE_ADMIN') %}
            <th scope="col">Action</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for tour in tours %}
        <tr>
            <td>{{ tour.date ? tour.date|date('F jS l Y ') : '' }}</td>
            <td>{{ tour.city }}</td>
            <td>{{ tour.adress }}</td>
            {% if is_granted('ROLE_ADMIN') %}
            <td>
                <a class="btn btn-dark" href="{{ path('tour_edit', {'id': tour.id}) }}">edit</a>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
