{{ form_start(form) }}
{{ form_row(form.email, { 'attr': {'class': 'form-control'} }) }}
{{ form_row(form.artist_name, { 'attr': {'class': 'form-control'} }) }}
{{ form_row(form.job, { 'attr': {'class': 'form-control'} }) }}
{{ form_row(form.description, { 'attr': {'class': 'form-control'} }) }}
{{ form_row(form.url_avatar) }}
<button class="btn btn-dark m-4" type="submit">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
